# configs/train.yaml

seed: 42

model:
  name: Qwen/Qwen2-7B
  base_model_path: /root/autodl-tmp/pretrain_models/Public_Models/Qwen2.5-7B-Instruct
  tokenizer_path: /root/autodl-tmp/pretrain_models/Public_Models/Qwen2.5-7B-Instruct
  freeze_base: true

data:
  train_path: /root/autodl-tmp/git/nl2sql_prm/data/processed/test2/train.json
  test_path: /root/autodl-tmp/git/nl2sql_prm/data/processed/test2/test.json
  max_length: 2048
  batch_size: 20
  shuffle: true
  num_workers: 4

training:
  num_epochs: 10
  lr: 5.0e-6
  weight_decay: 5.0e-3
  warmup_ratio: 0.1

logging:
  loss_figure_path: outputs/figures/loss.png
  checkpoint_dir: checkpoints/
  log_file: outputs/logs/loss.log
  tensorboard_dir: outputs/tensorboard/

evaluate:
  threshold: 0.5